@*@model IEnumerable<H2M2chat.Models.Room>*@

<div id="menu">
  <input type="checkbox" id="menu-toggle"/>
  <ul class="Chatul">
    <li class="Chat1ist">
      <a href="#">&#x2708;</a>
    </li><li class="Chat1ist">
      <a href="#">&#x266b;</a>
    </li><li class="Chat1ist">
      <a href="#">&#x2709;</a>
    </li><li><i class="fas fa-user-plus"></i></li>
  </ul>
</div>