@model H2M2chat.Models.Topic


<form asp-action="Create" method="POST">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a Topic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
        
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                <label asp-for="Title" class="col-form-label">Title:</label>
                <input asp-for="Title" class="form-control" type="text" aria-required="true"/>
                <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                <label asp-for="Description" class="col-form-label">Description:</label>
                <textarea asp-for="Description" class="form-control" aria-required="true"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                <label asp-for="Tags" class="col-form-label">Tags <em>comma separated</em></label>
                <input asp-for="Tags" class="form-control" type="text" aria-required="true"/>
                <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
           
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
            <button type="submit" class="btn btn-primary"> Submit </button>
            </div>
        </div>
        </div>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
