@model H2M2chat.Models.Comment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{

    foreach (var comment in Model.SubComments)
    {
        <div class="child-comment">
            <div class="profile-column">
                <img class="profile-picture" src="" alt="">
                <div class="line">
                <!-- This is the line -->
                </div>
            </div>
            <div class="parent-comment-contents">

                <div class="user-info">
                    <p class="">@Html.DisplayFor(modelItem => comment.Creator)</p>
                    <p>&#8226;</p>
                    <p>@Html.DisplayFor(modelItem => comment.Created)</p>
                </div>
                <div>
                    <p id='slackbot-comment'>@Html.DisplayFor(modelItem => comment.Message)</p>
                </div>
                @{
                  
                    if (comment.level<2)
                    {
                        await Html.RenderPartialAsync("_SubComments",comment);  
                        if (SignInManager.IsSignedIn(User))
                        {
                            
                            <div style="margin-bottom:20px;">
                                @{await Html.RenderPartialAsync("_CreateComment", new Comment { TopicId = Model.TopicId, ParentId= comment.CommentId });}
                            </div>
                        }
                     }
                 }
            </div>
        </div>

    }
    
}