@model H2M2chat.Models.Topic


<div style="margin-left:20px">
    <span class="topic-tags">
        @foreach (var tag in System.Net.WebUtility.UrlDecode(Model.Tags).Split(','))
        {
            <a href="~/Topics?tag=@tag" rel="tag">@tag</a>   
        }
                                    
     </span>
</div>





